<div class = "error" *ngIf = "invalid">
    Incorect Password!
</div>
<div class = "cont">
    <form [formGroup]="this.form" class="password">
            <input placeholder="Welcome Yuvaraj! Enter Password" formControlName="password" type="password"
                class="password1 col-6">
    </form>
    <form [formGroup]="this.form" class = "button">
        <div class="b1" (click)="onSubmit()">
            Submit
        </div>
    </form>
</div>

<div class = "cont1">
    Please Flip you phones!
</div>