<input type="checkbox" id="c1" class="c1">
<input type="checkbox" id="c2" class="c2">
<!-- <input type="checkbox" id="c3" class="c3"> -->
<div class="cont">
    <div class="buttons">
        <label class="bt p1" for="c1">NEXT</label>
        <label class="bt p2" for="c2">NEXT</label>
        <!-- <label class="bt p3" for="c3">NEXT</label> -->
        <label class="bt p2" for="c1">BACK</label>
        <label class="bt p3" for="c2">BACK</label>
        <!-- <label class="bt p4" for="c3">BACK</label> -->
    </div>
    <div class="book">
        <div class="page">
            <div class="pagesides">

            </div>
        </div>
        <div class="page2">
            <div class="image img1">
                <img src="../../assets/images/gauresh1.jpg" height=100% width=100%>
                <div class="tape t1">

                </div>
                <div class="tape t2">

                </div>
                <div class="tape t3">

                </div>
                <div class="tape t4">

                </div>
            </div>
            <div class="page2sides">

                <div class="page2side1">
                    <div class="popup">
                        <div class="square sq1">

                        </div>
                        <div class="square sq2">

                        </div>
                        <div class="square sq3">

                        </div>
                        <div class="square sq4">

                        </div>
                    </div>
                </div>

                <div class="page2side2">
                    <div class="heading">
                        <img src="../../assets/images/memories2.png" height=80% width=100%>

                    </div>
                    <div class="content2">
                        <div class="pockets">
                            <div class="pocket pc1">
                                <div class="card c1">
                                    <!-- <div class="chit">Hello</div> -->
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc2">
                                <div class="card c2">

                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc3">
                                <div class="card c3">

                                </div>
                                <div class="cover">

                                </div>
                            </div>
                        </div>
                        <div class="pockets">
                            <div class="pocket pc4">
                                <div class="card c4">
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc5">
                                <div class="card c5">

                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc6">
                                <div class="card c6">

                                </div>
                                <div class="cover">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
               <div class="page4">
            <div class="page4sides">

                <div class="page4side1">
                    <div class="envelope">
                        <div class="pic i1">

                        </div>
                        <div class="pic i2">

                        </div>
                        <div class="pic i3">

                        </div>
                        <div class="pic i4">

                        </div>
                        <div class="pic i5">

                        </div>
                        <div class="pic i6">

                        </div>
                    </div>
                    <div class="covere">

                    </div>
                </div>

                <div class="page4side2">
                    <div class="greeting">
                        <img class="img4" src="../../assets/images/greeting1.PNG" height=100% width=100%>
                    </div>
                    <div class="flap f1">

                    </div>
                    <div class="flap f2">

                    </div>
                </div>

                <div class="page4side3">
                    <div class="poem">
                        <div class="poem1">
                            <div class="poem2">
                                Dear Gauresh and Meet, <br>
                                We have uncountable memories with you! <br>
                                We pray that our bond remain the same always
                                To a lot of more fun experiences together! <br>
                                Love you guys to infinity and beyond!<br>
                                X0X0<br>
                                ~ Vaishnavi and Jhanvi
                            </div>
                        </div>
                    </div>
                    <div class="pocketcovers">
                        <div class="pockcov pcov1">
                        </div>
                        <div class="pockcov pcov2">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class = "cont1">
    Please Flip you phones!
</div>