<input type="checkbox" id="c1" class="c1">
<input type="checkbox" id="c2" class="c2">
<input type="checkbox" id="c3" class="c3">
<audio controls class = "aud1" id = "myaud">
    <source src="../../assets/audio/page.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
<div class="cont">
    <div class="buttons" (click) = "play()">
        <label class="bt p1" for="c1">NEXT</label>
        <label class="bt p2" for="c2">NEXT</label>
        <label class="bt p3" for="c3">NEXT</label>
        <label class="bt p2" for="c1">BACK</label>
        <label class="bt p3" for="c2">BACK</label>
        <label class="bt p4" for="c3">BACK</label>
    </div>
    <div class = "bookcov">
        
    </div>
    <div class="book">
        <div class="page">
            <div class="pagesides">

            </div>
        </div>
        <div class="page2">
            <div class="lacecont">
                <div class="lace1 lc1">
                
                </div>
            </div>
            <div class="image img1">
                <img src="../../assets/images/ss.jpg" height=100% width=100%>
                <div class="tape t1">

                </div>
                <div class="tape t2">

                </div>
                <div class="tape t3">

                </div>
                <div class="tape t4">

                </div>
            </div>
            <div class="image img2">
                <img src="../../assets/images/sharva1.png" height=100% width=80%>
            </div>
            <div class="image img6">
                <img src="../../assets/images/sanmegh1.png" height=100% width=100%>
            </div>
            <div class="page2sides">

                <div class="page2side1">
 
                </div>

                <div class="page2side2">
                    <div class="heading">
                        <img src="../../assets/images/things2.png" height=80% width=100%>
                    </div>
                    <div class="content2">
                        <div class="pockets">
                            <div class="pocket pc1">
                                <div class="card c1">
                                    <div class="chit">
                                        Dear Sharva, <br>
                                        Thank you for being caring , positive and helpful brother.<br>
                                        X0X0<br>
                                        ~ Sweety
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc2">
                                <div class="card c2">
                                    <div class="chit">
                                        Dear Sharva, <br>
                                        Thank you for making my day with your lame jokes.<br>
                                        X0X0<br>
                                        ~ Sweety
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc3">
                                <div class="card c3">
                                    <div class="chit">
                                        Dear Sharva, <br>
                                        Thanks for accepting me as your sister because of which I can tell you my secrets.<br>
                                        X0X0<br>
                                        ~ Sweety
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                        </div>
                        <div class="pockets">
                            <div class="pocket pc4">
                                <div class="card c4">
                                    <div class="chit">
                                        Dear Sanmegh, <br>
                                        You are one of my awesome brothers.<br>
                                        X0X0<br>
                                        ~ Sweety
                                    </div>
                                </div>
                                <div class="cover">
                            
                                </div>
                            </div>
                            <div class="pocket pc5">
                                <div class="card c5">
                                    <div class="chit">
                                        Dear Sanmegh, <br>
                                        May you get 2d waifu.<br>
                                        X0X0<br>
                                        ~ Sweety
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc6">
                                <div class="card c6">
                                    <div class="chit">
                                        Dear Sanmegh, <br>
                                        Thank you for taking care of me amd feeding me maggie after a long day in college.<br>
                                        X0X0<br>
                                        ~ Sweety
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page3">
            <div class="lace lc3">
            </div>
            <div class="lace lc4">

            </div>
            <div class="lace lc2">
            </div>
            <div class="image img3">
                <img src="../../assets/images/ribbon2.png" height=100% width=100%>
            </div>
            <div class="page3sides">
                <div class="page3side1">
                        <video class="vid" controls controlsList = "nodownload">
                            <source src="../../assets/videos/ss1.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                </div>
                <div class="page3side2">
                    <video class="vid v2" controls controlsList = "nodownload">
                        <source src="../../assets/videos/ss2.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                </div>
                <div class="page3side3">
                    <div class="chamki ch1">
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>

                    </div>
                    <div class="chamki ch2">
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>

                    </div>

                    <div class="popup">
                        <div class="square sq1">

                        </div>
                        <div class="square sq2">

                        </div>
                        <div class="square sq3">

                        </div>
                        <div class="square sq4">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="page4">
            <div class="page4sides">

                <div class="page4side1">
                    <div class="envelope">
                        <div class="pic i1">

                        </div>
                        <div class="pic i2">

                        </div>
                        <div class="pic i3">

                        </div>
                        <div class="pic i4">

                        </div>
                        <div class="pic i5">

                        </div>
                        <div class="pic i6">

                        </div>
                    </div>
                    <div class="covere">

                    </div>
                </div>

                <div class="page4side2">
                    <div class="greeting">
                        <img class="img4" src="../../assets/images/greeting1.PNG" height=100% width=100%>
                    </div>
                    <div class="flap f1">

                    </div>
                    <div class="flap f2">

                    </div>
                </div>

                <div class="page4side3">
                    <div class="poem">
                        <div class="poem1">
                            <div class="poem2">
                                Dear Sharva and Sanmegh, <br>
                                I love you very much<br>
                                To infinity and beyond.<br>
                                I am forever by your side.<br>
                                Cheers to our everlasting bond!<br>
                                X0X0<br>
                                ~ Sweety
                            </div>
                        </div>
                    </div>
                    <div class="pocketcovers">
                        <div class="pockcov pcov1">
                        </div>
                        <div class="pockcov pcov2">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class = "cont1">
    Please Flip you phones!
</div>