*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cont{
    min-height: 100vh;
    width: 100vw;
    background-color: green;
    position: relative;
    top: 0;
    bottom: 0;
    perspective: 500px;
    background-image: url(src\assets\images\wood1.jpg);
    background-size: cover;
}

.book{
    margin: 5%;
    background-color: rgb(186, 133, 255);
    width: calc(100vw - 10%);
    height: calc(100vh - 20%);
    position: absolute;
    z-index: 0;
    box-shadow: 30px 30px 50px black;
}

.page{
    margin-left: 5%;
    background-color: rgb(9, 7, 146);
    width: calc(100vw - 15%);
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: all .5s ease-in;
    position: absolute;
    z-index: 10;
    transform-style: preserve-3d;
    background-image: url(src\assets\images\virajvrishabh.png);
    background-size: 100% 100%;
    //backface-visibility: hidden;
}

.page2{
    position: absolute;
    margin-left: calc(5% + 3px);
    background-color: rgb(5, 3, 88);
    width: calc(100vw - 15%);
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: all .5s ease-in;
    position: absolute;
    z-index: 9;
    transform-style: preserve-3d;
    background-image: url(src\assets\images\green1.png);
    //background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}


.page4{
    position: absolute;
    margin-left: calc(5% + 9px);
    background-color: rgb(5, 3, 88);
    width: calc(100vw - 15%);
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: all .5s ease-in;
    position: absolute;
    z-index: 7;
    transform-style: preserve-3d;
    background-image: url(src\assets\images\grey1.png);
    background-size: contain;
}

input{
    display: none;
}

.c1:checked ~ .cont .page{
    transform: rotateY(-180deg);
    box-shadow: 5px 5px 90px black;
    z-index: 1;
}

.c2:checked ~ .cont .page2{
    transform: rotateY(-180deg);
    box-shadow: 5px 5px 90px black;
    z-index: 2;
}


.c1:checked ~ .cont .p1{
    display: none;
}

.c1:checked ~ .cont .p2{
    display: block;
}

.c2:checked ~ .cont .p2{
    display: none;
}
    
.c2:checked ~ .cont .p3{
    display: block;
}

.pagesides{
    display: flex;
    width: 90%;
    height: 100%;
}

.page2sides{
    display: flex;
    width: 100%;
    height: 100%;
}

.page3sides{
    display: flex;
    width: 100%;
    height: 100%;
}

.page4sides{
    display: flex;
    width: 100%;
    height: 100%;
}

.image{
    position: absolute;
}

.img1{
    top: 60%;
    left: 10%;
    width: 20%;
    height: 30%;
    //width: 20%;
    transform: rotateZ(-30deg);
    //height: 10%;
}

.tape{
    position: relative;
    width: 20%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.596);
}

.t1{
    top: -100%;
    transform: rotateZ(-30deg);
}

.t2{
    top: -115%;
    left: 80%;
    transform: rotateZ(50deg);
}

.t3{
    top: -40%;
    transform: rotateZ(20deg);
}

.t4{
    top: -55%;
    left: 80%;
    transform: rotateZ(-35deg);
}

.img2{
    top: -2%;
    left: 10%;
    width: 40%;
    height: 50%;
    //width: 20%;
    transform: rotateZ(20deg);
    //height: 10%;
}

.img5{
    top: 15%;
    left: 0%;
    width: 20%;
    height: 20%;
    //width: 20%;
    transform: rotateZ(-60deg);
    //height: 10%;
}

.page2side1{
    //margin-left: 50%;
    padding:2%;
    //padding-top: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: space-evenly;
}

.popup{
    position: relative;
    width: 40%;
    height: 40%;
    top: 0%;
    left: 40%;
    background-color: white;
    background-image: url("src\\assets\\images\\vv (8).jpg");
    background-size: 100% 100%;;
    transform: rotateZ(40deg);
    perspective: 1000px;
}

.square{
    position: absolute;
}

.sq1{
    //background-color: coral;
    background-image: url(src\assets\images\green2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: all .5s ease-in;
    transform-style: preserve-3d;
}

.sq2{
    //background-color: rgb(80, 98, 255);
    background-image: url(src\assets\images\green2.png);
    background-repeat: no-repeat;
    background-size: cover;
    //margin-top: -79%;
    width: 100%;
    height: 50%;
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all .5s ease-in;
    transform-style: preserve-3d;
}

.sq3{
    //background-color: rgb(86, 255, 80);
    background-image: url(src\assets\images\green2.png);
    background-repeat: no-repeat;
    background-size: cover;
    left:50%;
    //margin-top: -40%;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: right;
    transition: all .5s ease-in;
    transform-style: preserve-3d;
}

.sq4{
    //background-color: rgb(255, 80, 211);
    background-image: url(src\assets\images\green2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    top: 50%;
    transform: rotateX(0deg);
    transform-origin: bottom;
    transition: all .5s ease-in;
    transform-style: preserve-3d;
}

.popup:hover .sq1{
    animation: flip1 2s 1.5s forwards;
}

.popup:hover .sq2{
    animation: flip2 2s 1s forwards;
}

.popup:hover .sq3{
    animation: flip3 2s .5s forwards;
}

.popup:hover .sq4{
    animation: flip4 2s forwards;
}

@keyframes flip1{
    from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(-90deg);
        z-index: 996;
      }
}

@keyframes flip2{
    from {
        transform: rotateX(0deg);
      }
      to {
        transform: rotateX(180deg);
        z-index: 997;
      }
}

@keyframes flip3{
    from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(90deg);
        z-index: 998;
      }
}

@keyframes flip4{
    from {
        transform: rotateX(0deg);
      }
      to {
        transform: rotateX(180deg);
        z-index: 999;
      }
}

.page2side2{
    //margin-left: 50%;
    padding:2%;
    //padding-top: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.heading{
    height: 30%;
    width: 100%;
    //border: solid black;
    justify-self: center;
    align-self: center;
    //background-image: url(src\assets\images\letterss\things2.png);
    //background-size: cover;
    //background-repeat: no-repeat;
    margin-bottom: 5%;
    margin-top: -4%;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    
}


.content2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.pockets{
    height: 100%;
    width: 100%;
    display: flex;
    //padding-top: 20%;
    flex-direction: column;
}

.pocket{
    position: relative;
    height: 100%;
    background-color: chartreuse;
    //background-image: url(src\assets\images\pink1.jpg);
    background-size: cover;
    margin:1px;
    border-radius: 5px;
    border: 10px solid rgb(0, 0, 0);
    //border-image: url(src\assets\images\yellow1.png);
    //border-image-repeat: repeat;
    //border-image-width: 10px;
}

.card{
    width:80%;
    height: 110%;
    background-color: white;
    position: relative;
    top: -40%;
    align-self: center;
    left: 10%;
    transition: all .5s ease-in;
    border: 5px white solid;
}

.cover{
    height: 100%;
    width: 100%;
    background-color: chartreuse;
    position: absolute;
    top: 0;
    background-image: url(src\assets\images\black1.png);
    background-size: cover;
}

.c1{
    background-image: url("src\\assets\\images\\vv (1).jpg");
    background-size: 100% 100%;   
}
.c2{
    background-image: url("src\\assets\\images\\vv (2).jpg");
    background-size: 100% 100%;   
}
.c3{
    background-image: url("src\\assets\\images\\vv (3).jpg");
    background-size: 100% 100%;   
}
.c4{
    background-image: url("src\\assets\\images\\vv (4).jpg");
    background-size: 100% 100%;   
}
.c5{
    background-image: url("src\\assets\\images\\vv (5).jpg");
    background-size: 100% 100%;   
}
.c6{
    background-image: url("src\\assets\\images\\vv (6).jpg");
    background-size: 100% 100%;   
}

.pc1:hover .c1{
    //animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: trans .5s forwards;
}
.pc2:hover .c2{
    //animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: trans .5s forwards;
}
.pc3:hover .c3{
    //animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: trans .5s forwards;
}
.pc4:hover .c4{
    //animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: trans .5s forwards;
}
.pc5:hover .c5{
    //animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: trans .5s forwards;
}
.pc6:hover .c6{
    //animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: trans .5s forwards;
}
@keyframes trans{
    from {
        top: -40;
        //transform: rotateZ(0deg);
      }
      to {
        top: -200px;
        //transform: rotateZ(-30deg);
      }
}

.page4side1{
    //margin-left: 50%;
    padding:2%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.greeting{
    position: absolute;
    background-color: white;
    width: 35%;
    height: 70%;
    align-self: center;
    transform: rotateZ(10deg);
}

.img4{
    
}

.covere{
    background-color: white;
    width: calc(21%);
    height: 96%;
    //margin-top: -200%;
    position: absolute;
    z-index: 1000;
    background-image: url(src\assets\images\photobomb2.png);
    background-size: 100% 100%;
}

.envelope{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.pic{
    //background-color: blue;
    width: 50%;
    height: 30%;
    border: black solid;
    position: relative;
}

.i1{
    background-image: url("src\\assets\\images\\vv (7).jpg");
    background-size: 100% 100%;
}

.i2{
    background-image: url("src\\assets\\images\\vv (9).jpg");
    background-size: 100% 100%;
}

.i3{
    background-image: url("src\\assets\\images\\vv (10).jpg");
    background-size: 100% 100%;
}

.i4{
    background-image: url("src\\assets\\images\\vv (11).jpg");
    background-size: 100% 100%;
}

.i5{
    background-image: url("src\\assets\\images\\vv (12).jpg");
    background-size: 100% 100%;
}

.i6{
    background-image: url("src\\assets\\images\\gauresh6.jpg");
    background-size: 100% 100%;
}


.page4side1:hover .i1{
    animation: move1 2s forwards;
}

.page4side1:hover .i2{
    animation: move2 2s forwards;
}

.page4side1:hover .i3{
    animation: move3 2s forwards;
}

.page4side1:hover .i4{
    animation: move4 2s forwards;
}

.page4side1:hover .i5{
    animation: move5 2s forwards;
}

.page4side1:hover .i6{
    animation: move6 2s forwards;
}
@keyframes move1{
    from {
        left: 0;
        top: 0;
        transform: rotateZ(0deg);
        z-index: 0;
      }
      to {
        left: 500px;
        top: 300px;
        transform: rotateZ(50deg);
        z-index: 999;
      }
}

@keyframes move2{
    from {
        left: 0;
        top: 0;
        transform: rotateZ(0deg);
        z-index: 0;
      }
      to {
        left: 600px;
        top: 10px;
        transform: rotateZ(100deg);
        z-index: 999;
      }
}

@keyframes move3{
    from {
        left: 0;
        top: 0;
        transform: rotateZ(0deg);
        z-index: 0;
      }
      to {
        left: 400px;
        top: -200px;
        transform: rotateZ(20deg);
        z-index: 999;
      }
}

@keyframes move4{
    from {
        left: 0;
        top: 0;
        transform: rotateZ(0deg);
        z-index: 0;
      }
      to {
        left: 1200px;
        top: 100px;
        transform: rotateZ(170deg);
        z-index: 999;
      }
}

@keyframes move5{
    from {
        left: 0;
        top: 0;
        transform: rotateZ(0deg);
        z-index: 0;
      }
      to {
        left: 900px;
        top: -500px;
        transform: rotateZ(140deg);
        z-index: 999;
      }
}

@keyframes move6{
    from {
        left: 0;
        top: 0;
        transform: rotateZ(0deg);
        z-index: 0;
      }
      to {
        left: 800px;
        top: 10px;
        transform: rotateZ(50deg);
        z-index: 999;
      }
}
.page4side2{
    //margin-left: 50%;
    padding:2%;
    width: 50%;
    border: solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-image: url(src\assets\images\golden1.jpg) 30 stretch;
}

.flap{
    //background-color: white;
    height: 100%;
    width: 100%;
    perspective: 10000px;
    background-image: url(src\assets\images\golden1.jpg);
    opacity: 0.8;
    //background-size: contain;
}

.f1{
    transform: rotateX(0deg);
    transform-origin: top;
    transition: all 1s ease-in;
    transform-style: preserve-3d;
    margin-bottom: 1px;
}

.f2{
    transform: rotateX(0deg);
    transform-origin: bottom;
    transition: all 1s ease-in;
    transform-style: preserve-3d;
    margin-top: 1px;
}

.page4side2:hover .f1{
    transform: rotateX(180deg);
}

.page4side2:hover .f2{
    transform: rotateX(-180deg);
}


.p1, .p2, .p3, .p4{
    font-size: 2vh;
    cursor: pointer;
}


.p2, .p3, .p4{
    display: none;
}

.page4side3{
    //margin-left: 50%;
    width: 25%;
    border-left: 10px solid transparent;
    //border-image: url(src\assets\images\golden2.png) 30 stretch;
    display: flex;
    //flex-direction: column;
    justify-content: space-evenly;
}

.pocketcovers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    opacity: 0.8;
    //box-shadow: 2px 2px black;
    //border: solid black;
    
}

.pockcov{
    position: relative;
    height: 25%;
    //background-color: blueviolet;
    //background-image: url(src\assets\images\golden2.png);
}

.pcov1{
    background-image: url(src\assets\images\golden2.png);
}
.pcov2{
    // transform: rotateZ(90deg);
    background-image: url(src\assets\images\golden3.png);
    background-size: 100% 100%;
}
.poem{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.poem1{
    position: relative;
    background-color: white;
    //background-image: url(src\assets\images\message.png);
    //background-size: 100% 100%;
    align-self: center;
    width:140%;
    height: 90%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}

.poem2{
    width: 100%;
    height: fit-content;
    font-size: 1.5vw;
}
.page4side3:hover .poem1{
    transform: translateX(-30%);
    transition: all 1s ease-in;
}

@keyframes poem{
    from{
        left: 40%;
    }

    to{
        left: 40%;
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.sparkle{
    position: relative;
}

.bt{
    padding: 5px;
    margin-right: 5px;
    background-color: rgb(186, 133, 255);;
    cursor: pointer;
}

.cont1{
    display: none;
}
@media (max-width: 600px){

    .cont{
        display: none;
    }

    .cont1{
        display: block;
    }
  }

  @media (max-width: 1200px){

    @keyframes move1{
        from {
            left: 0;
            top: 0;
            transform: rotateZ(0deg);
            z-index: 0;
          }
          to {
            left: 120px;
            top: 30px;
            transform: rotateZ(50deg);
            z-index: 999;
          }
    }
    
    @keyframes move2{
        from {
            left: 0;
            top: 0;
            transform: rotateZ(0deg);
            z-index: 0;
          }
          to {
            left: 180px;
            top: 10px;
            transform: rotateZ(100deg);
            z-index: 999;
          }
    }
    
    @keyframes move3{
        from {
            left: 0;
            top: 0;
            transform: rotateZ(0deg);
            z-index: 0;
          }
          to {
            left: 160px;
            top: -20px;
            transform: rotateZ(20deg);
            z-index: 999;
          }
    }
    
    @keyframes move4{
        from {
            left: 0;
            top: 0;
            transform: rotateZ(0deg);
            z-index: 0;
          }
          to {
            left: 220px;
            top: 10px;
            transform: rotateZ(170deg);
            z-index: 999;
          }
    }
    
    @keyframes move5{
        from {
            left: 0;
            top: 0;
            transform: rotateZ(0deg);
            z-index: 0;
          }
          to {
            left: 190px;
            top: -50px;
            transform: rotateZ(140deg);
            z-index: 999;
          }
    }
    
    @keyframes move6{
        from {
            left: 0;
            top: 0;
            transform: rotateZ(0deg);
            z-index: 0;
          }
          to {
            left: 150px;
            top: 1px;
            transform: rotateZ(50deg);
            z-index: 999;
          }
    }

    @keyframes trans{
        from {
            top: -40;
            //transform: rotateZ(0deg);
          }
          to {
            top: -50px;
            //transform: rotateZ(-30deg);
          }
    }
    
  }