
.cont{
    height: 100vh;
    width: 100vw;
    background-image: url(src\assets\images\wood1.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.button{
    width: 20%;
    padding: 5px;
    min-height: 10%;
    background-color: rgb(186, 133, 255);
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3vw;
    border: solid black;
    cursor: pointer;
    border-radius: 5px;
}

.b1{
    background-color: transparent;
    border: none;
}