<div class="cont">
    <div class = "button" (click) = "gm()">
        Gauresh and Meet
    </div>
    <div class = "button" (click) = "vv()">
        Viraj and Vrishabh
    </div>
    <div class = "button b1">
        Website by Vaishnavi
    </div>
</div>
