
.cont{
    height: 100vh;
    width: 100vw;
    background-image: url(src\assets\images\vv1.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.button{
    width: 20%;
    height: 10%;
    background-color: rgb(186, 133, 255);
    align-self: center;
    margin-left: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3vw;
    border: solid black;
    cursor: pointer;
    border-radius: 5px;
}