<input type="checkbox" id="c1" class="c1">
<input type="checkbox" id="c2" class="c2">
<input type="checkbox" id="c3" class="c3">
<audio controls class = "aud1" id = "myaud">
    <source src="../../assets/audio/page.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
<div class="cont">
    <div class="buttons" (click) = "play()">
        <label class="bt p1" for="c1">NEXT</label>
        <label class="bt p2" for="c2">NEXT</label>
        <label class="bt p3" for="c3">NEXT</label>
        <label class="bt p2" for="c1">BACK</label>
        <label class="bt p3" for="c2">BACK</label>
        <label class="bt p4" for="c3">BACK</label>
    </div>
    <div class = "bookcov">
        
    </div>
    <div class="book">
        <div class="page">
            <div class="pagesides">

            </div>
        </div>
        <div class="page2">
            <div class="lacecont">
                <div class="lace1 lc1">
                
                </div>
            </div>
            <div class="image img1">
                <img src="../../assets/images/rbkaori3.png" height=100% width=100%>
                <div class="tape t1">

                </div>
                <div class="tape t2">

                </div>
                <div class="tape t3">

                </div>
                <div class="tape t4">

                </div>
            </div>
            <div class="image img2">
                <img src="../../assets/images/momo2.png" height=100% width=100%>
            </div>
            <div class="image img3">
                <img src="../../assets/images/Momo.png" height=100% width=100%>
            </div>
            <div class="image img4 img41">
                <img src="../../assets/images/nami3.png" height=100% width=100%>
            </div>
            <div class="page2sides">

                <div class="page2side1">
 
                </div>

                <div class="page2side2">
                    <div class="heading">
                        <img src="../../assets/images/things1.png" height=80% width=100%>
                    </div>
                    <div class="content2">
                        <div class="pockets">
                            <div class="pocket pc1">
                                <div class="card c1">
                                    <div class="chit">
                                        Dear Aryan, <br>
                                        Thank you for taking care of me amd feeding me maggie after a long day in college.<br>
                                        X0X0<br>
                                        ~ Vaishnavi
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc2">
                                <div class="card c2">
                                    <div class="chit">
                                        Dear Aryan, <br>
                                        Thank you for helping me grow..<br>
                                        X0X0<br>
                                        ~ Jhanvi
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc3">
                                <div class="card c3">
                                    <div class="chit">
                                        Dear Aryan, <br>
                                        Thank you for always lending an ear. . Pun intended.<br>
                                        X0X0<br>
                                        ~ Jhanvi
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                        </div>
                        <div class="pockets">
                            <div class="pocket pc4">
                                <div class="card c4">
                                    <div class="chit">
                                        Dear Aryan, <br>
                                        You are one of the best people I have met. Thank you for always being there.<br>
                                        X0X0<br>
                                        ~ Sweety
                                    </div>
                                </div>
                                <div class="cover">
                            
                                </div>
                            </div>
                            <div class="pocket pc5">
                                <div class="card c5">
                                    <div class="chit">
                                        Dear Aryan, <br>
                                        Thank you for being awesome and being family. Love you.<br>
                                        X0X0<br>
                                        ~ Vaishnavi
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                            <div class="pocket pc6">
                                <div class="card c6">
                                    <div class="chit">
                                        Dear Aryan, <br>
                                        You are the best brother and have a great year.<br>
                                        X0X0<br>
                                        ~ Sweety
                                    </div>
                                </div>
                                <div class="cover">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page3">
            <div class="lace lc3">
            </div>
            <div class="lace lc4">

            </div>
            <div class="lace lc2">
            </div>
            <div class="image img3">
                <img src="../../assets/images/ribbon2.png" height=100% width=100%>
            </div>
            <div class="page3sides">
                <div class="page3side1">
                        <video class="vid" controls controlsList = "nodownload">
                            <source src="../../assets/videos/momo.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                </div>
                <div class="page3side2">
                    <video class="vid v2" controls controlsList = "nodownload">
                        <source src="../../assets/videos/momo2.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                </div>
                <div class="page3side3">
                    <div class="chamki ch1">
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>

                    </div>
                    <div class="chamki ch2">
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>
                        <div class="sparkle sp1">
                        </div>
                        <div class="sparkle sp2">
                        </div>

                    </div>

                    <div class="popup">
                        <div class="chit2">
                            Dear Momo, <br>
                            You are amazing. You are caring. You are talented.<br>
                            You make us smile.<br>
                            You are our support system.<br>
                            You are the mama to our kids.<br>
                            You are our home. You are our best friend.<br>
                            You are a wonderful brother.<br>
                            You are shoulder to cry on.<br>
                            You are our loved.<br>
                            You are with us on our journey.<br>
                            You are forever in our memories.<br>
                            You are forever in our prayers.<br>
                            You deserve the best of the best.<br>
                            We wish you success. We wish you good health.<br>
                            We wish you happiness.<br>
                            X0X0<br>
                            ~ Vaishnavi, Jhanvi and Sweety
                        </div>
                        <div class="square sq1">

                        </div>
                        <div class="square sq2">

                        </div>
                        <div class="square sq3">

                        </div>
                        <div class="square sq4">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="page4">
            <div class="page4sides">

                <div class="page4side1">
                    <div class="envelope">
                        <div class="pic i1">

                        </div>
                        <div class="pic i2">

                        </div>
                        <div class="pic i3">

                        </div>
                        <div class="pic i4">

                        </div>
                        <div class="pic i5">

                        </div>
                        <div class="pic i6">

                        </div>
                    </div>
                    <div class="covere">

                    </div>
                </div>

                <div class="page4side2">
                    <div class="greeting">
                        <img class="img4" src="../../assets/images/greeting1.PNG" height=100% width=100%>
                    </div>
                    <div class="flap f1">

                    </div>
                    <div class="flap f2">

                    </div>
                </div>

                <div class="page4side3">
                    <div class="poem">
                        <div class="poem1">
                            <div class="poem2">
                                Dear Aryan, <br>
                                10 Years of friendship,<br>
                                1000s of memories together,<br>
                                Stuck through it all,<br>
                                The worse and the better.<br>
                                <br>Hugs and kisses,<br>
                                Smiles and Tears,<br>
                                High fives and lame jokes,<br>
                                Lets stay this way for years.<br>
                                <br>The sleepovers at your place,<br>
                                And the games of Call of Duty,<br>
                                All the stupid things we have done together,<br>
                                But we guess that the beauty.<br>
                                <br>Dear Aryan Hanamshet,<br>
                                Your home is our home,<br>
                                Togther we helped each other up,<br>
                                Together we have grown.<br>
                                <br>Pooja, Aarti, Tara,<br>
                                All the names we have given each other,<br>
                                From laughing at our Barbie sets,<br>
                                To being an over protective brother.<br>
                                <br>We love you very much,<br>
                                To infinity and beyond.<br>
                                We are forever by your side.<br>
                                Cheers to our everlasting bond!<br>
                                X0X0<br>
                                ~ Vaishnavi, Jhanvi and Sweety
                            </div>
                        </div>
                    </div>
                    <div class="pocketcovers">
                        <div class="pockcov pcov1">
                        </div>
                        <div class="pockcov pcov2">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class = "cont1">
    Please Flip you phones!
</div>